<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="https://github.com/gvin10">Gregorio</a>. A budding web devolper on mission to make the internet more equitable and balanced.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%=image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gregorio Vincent</h2>
      <br />
      <p>
      Gregorio Vincent is a Cornell Grad and NYC native who's spent the last 3 years working in Silicon Valley. He's worn various hats at companies such as Handy, Dot and Bo, Uber, and Recommind. He's currently a Tier 1 Product Support Specialist at Turnitin and now a budding web developer.
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />